<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.samsung.android.wear.shealth.healthdataprovider.permission.READ" />
    <uses-feature android:name="android.hardware.sensor.heartrate" android:required="false" />
    <uses-feature android:name="android.hardware.type.watch" android:required="false" />

    <application
        android:theme="@style/AppTheme"
        android:label="Hello C"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <service
            android:name=".PulseService"
            android:exported="false"
            android:foregroundServiceType="health" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <meta-data
                android:name="android.app.lib_name"
                android:value="helloc" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
